{% extends "layout.html" %}

{%block head %}
    {{ super() }}
    <style type="text/css">
        body {
          background-color: black;
          /*padding-left: 50px;*/
        }
        circle,rect {
          /*stroke: white;*/
          stroke-width: 2px;
          fill:red;
          /*opacity: .8;*/
        }
        .btn-group {
          /*text-align: center;*/
          margin: auto 0;
          padding: 30px;
          /*background: gray;*/
        }
        .label {
          fill: white;
          font-size: 14px;
        }
    </style>
{% endblock %}
{% block title %}Employees View{% endblock %}
{% block body %}
    {{ super() }}
    <h2>This heading is defined in the child.</h2>
{% endblock %}
